<!-- About -->
  <section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.subtitle | default: "" }}</h3>
        </div>
      </div>
	  <div class="row">
		<div class="col-lg-8 mx-auto text-center">
		  <div class="large text-muted">{{ site.data.sitetext.about.text1 | markdownify }}</div>
		  <div class="large text-muted">{{ site.data.sitetext.about.text2 | markdownify }}</div>
		</div>
	  </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="leprojet.html">Voir le projet</a>
      </div>
    </div>

    </div>
  </section>
<!-- End About -->
