<!-- ateliers Grid -->
<section class="page-section" id="{{ site.data.sitetext.ateliers.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.ateliers.title | markdownify | default: "Ateliers" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.ateliers.text | markdownify }}</h3>
        <h3 class="section-subheading subsub">{{ site.data.sitetext.ateliers.subtitle | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
  {% assign ateliers_by_date = site.ateliers | where: "infos.etat", "coming" | sort: "infos.date" %}

	{% for atelier in ateliers_by_date %}
        <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="{{ atelier.url }}">
        <!-- <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}"> -->
          <!-- <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.ateliers-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div> -->
          <img class="img-fluid" src="{{ atelier.image }}" alt="atelier.alt">
        </a>
        <div class="portfolio-caption">
          <h4><a href="{{ atelier.url }}">{{ atelier.title }}</a></h4>
          <h5><a href="{{ atelier.url }}"><em>{{ atelier.subtitle }}</em></a></h5>
          <p class="text-muted">{{ atelier.type }}</p>
          <!-- <p class="text-muted">{{ atelier.caption.date | date_to_french }}</p> -->
          <p class="text-muted">
{% assign d = atelier.infos.date | date: "%-d" %}
{% assign m = atelier.infos.date | date: "%-m" %}
{% case d %}
  {% when '1' %}1er
  {% else %}{{ d }}
{% endcase %}
{% case m %}
  {% when '1' %}jan.
  {% when '2' %}fév.
  {% when '3' %}mars
  {% when '4' %}avr.
  {% when '5' %}mai
  {% when '6' %}juin
  {% when '7' %}juil.
  {% when '8' %}août
  {% when '9' %}sept.
  {% when '10' %}oct.
  {% when '11' %}nov.
  {% when '12' %}déc.
{% endcase %}
{{ atelier.infos.date | date: "%Y" }}

          </p>
        </div>
      </div>
	{% endfor %}
    </div>
    <div class="row endbutton">
      <div class="col-lg-12 text-center">
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="evenements.html">Tous les événements</a>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="ressources.html">Les ressources 2020-2021</a>
      </div>
    </div>
  </div>
</section>
{% include modals.html %}
