<!-- Clients -->
  <section class="py-5" id="{{ site.data.sitetext.clients.section | default: "clients" }}">
    <div class="container">
      <div class="row" {% if site.data.sitetext.clients.horizontal-scrolling == "yes" %} id="scrolling-clients" {% endif %}>
	  {% for client in site.data.sitetext.clients.list %}
        <div class="col-md-3 col-9 contain">
          <a href="{{ client.url }}">
            <img class="img-fluid d-block mx-auto" src="{{ client.logo }}" alt="{{ client.title }}" style="max-height: {{ site.data.sitetext.clients.max-height | default: "100px" }}">
          </a>
        </div>
	  {% endfor %}
      </div>
    </div>
  </section>
