  <!-- Footer -->
  <footer class="footer" id="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> {{ site.title }} {{ 'now' | date: "%Y" }}</span>
        </div>
		<!-- Social Media -->
        <div class="col-md-4">
       	<!--   <ul class="list-inline social-buttons">
		  {% for link in site.data.sitetext.footer.social  %}
            <li class="list-inline-item">
			  {% if link.url %}
              <a href="{{ link.url }}">
                {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
              </a>
			  {% endif %}
            </li>
			{% endfor %}
          </ul>-->
        </div>
		<!-- Legal -->
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              {{ site.data.sitetext.footer.legal | markdownify }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% if page.layout == "page" or page.layout == "article" or page.layout == "atelier" %}
<script>
fixPageShort();
function fixPageShort() {
  if(window.innerHeight > document.body.offsetHeight) {
    document.getElementById("footer").style.position="fixed";
    document.getElementById("footer").style.bottom=0;
    document.getElementById("footer").style.right=0;
    document.getElementById("footer").style.left=0;
    document.getElementById("footer").style.width="100%";
  }
}
</script>
{% endif %}
  <!-- End Footer -->
