
&nbsp;

<h4>Vidéo</h4>
<video width="100%" style="max-width: 700px" controls preload="auto" >
  <source src="https://api.nakala.fr/data/{{ page.nakala.video }}" type="video/mp4">
  Votre navigateur ne supporte pas la vidéo.
</video>
<p class="videocaption"><a href="https://nakala.fr/{{ page.nakala.doi }}">Voir la donnée sur nakala.fr</a></p>
