<!-- accordéon de ressource en fonction de la variable "categorie" -->
<div class="accordion" id="organisation">
  {% assign filtered_ressources = site.ressources | where:"categories",include.categorie %}
  {% for ressource in filtered_ressources %}
  {% assign idslug = ressource.title | append: " target" %}
  <div class="accordion-item">
      <h4 class="accordion-header" id="{{ ressource.title | slugify }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ idslug | slugify }}" aria-expanded="true" aria-controls="{{ idslug | slugify }}">
          <span class="titreAccordeon"><span class="titreRessource"><strong>{{ ressource.title }}</strong></span>&nbsp;:&nbsp;{{ ressource.description }}</span>
        </button>
      </h4>
    <div id="{{ idslug  | slugify }}" class="accordion-collapse collapse" aria-labelledby="{{ ressource.title | slugify }}" data-bs-parent="#organisation">
      <div class="accordion-body">
        <div class="container">
          {% if ressource.content %}
          <div class="row">
            <div class="col-2"><strong>Description</strong></div>
            <div class="col-10">{{ ressource.content }}</div>
          </div>
          {% endif %}
          {% if ressource.ressources %}
          <div class="row reressource">
          <div class="col-2"><strong>Ressources</strong></div>
            <div class="col-10">
              <ul>
              {% for reference in ressource.ressources %}
              <li><a href="{{ reference.url }}">{{ reference.titre }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
          {% if ressource.couts %}
          <div class="row">
            <div class="col-2"><strong>Coût</strong></div>
            <div class="col-10">{{ ressource.couts | markdownify }}</div>
          </div>
          {% endif %}
          {% if ressource.niveau %}
          <div class="row">
            <div class="col-2"><strong>Niveau</strong></div>
            <div class="col-10">{{ ressource.niveau | markdownify }}</div>
          </div>
          {% endif %}
          {% if ressource.prerequis %}
          <div class="row">
            <div class="col-2"><strong>Prérequis</strong></div>
            <div class="col-10">{{ ressource.prerequis | markdownify }}</div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
<!-- fin accordeon -->
