<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext.services.section | default: "services" }}">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.services.title | default: "Services" }}</h2>
          {% if site.data.sitetext.services.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext.services.text }}</h3>
		  {% endif %}
        </div>
      </div>

      <div class="row text-center">
	  {% for service in site.data.sitetext.services.list %}
        <div class="col-md-4">
          <a href="{{ service.link }}">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span>
          </a>
          <h4 class="service-heading"><a href="{{ service.link }}">{{ service.title | markdownify }}</a></h4>
          {% if service.desc %}<div class="text-muted">{{ service.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>

    </div>
  </section>
<!-- End Services -->
