

div#ateliers div.portfolio-item {
  /* background-color: #f8f9fa; */
  background-color: gainsboro;
}
div#ateliers div.portfolio-caption {
  background-color: white;
}

div#ateliers div.portfolio-caption a {
    background-color: white;
    color: #fed136;
    padding: 0.2em;
}
