/* footer */
footer#footer {
  background-color:whitesmoke;
  font-size:0.8em;
}

footer#footer a {
color: black;
}

header.masthead {
    max-height: 960px;
}

header.masthead .intro-text {
  padding-top: 250px;
}

header.masthead .intro-text .intro-heading {
  font-size: 36px;
}

/* div.intro-lead-in {
  background-color: #1313137d;
} */

#mainNav.navbar-shrink {
  background-color: #131313c9;
}

section#about, section#ateliers {
  background-color: gainsboro;
}

section#about p{
  font-size: larger;
}

section#about a{
  color: black;
}

section#about a.btn {
  color: white;
  margin-top: 2em;
}

span.surligne {
  background-color: #1313137d;
}

div#pagecontainer p a, div#pagecontainer li a, div#pagecontainer table a {
  background-color: #eee;
  color: black;
  padding: 0.2em;
}

div#pagecontainer ul a {
  background-color: #eee;
  color: black;
  padding: 0.2em;
}

div#pagecontainer a.btn-primary {
  background-color: #fed136;
  color: white;
}

div#pagecontainer img {
  width: 100%;
}

.bg-darker {
  background-color: gainsboro;
}

h2.ressourcecategorie {
  margin: 1em 0;
  /* color: #fed136; */
}

div.reressource ul {
  padding-left: inherit;
}

span.titreAccordeon {
  text-align: left;
}
span.titreRessource {
  color: #fed136;
}

/* pour les pages atelier.html */
div.evenement {
  margin-bottom: 2em;
}

div.evenement p.type {
  text-transform: uppercase;
  color: grey;
}

div.evenement h1 {
  /* margin-top: 1em; */
}

div.evenement h4 {
  margin-top: 1em;
}


div.evenement div.tag ul {
  margin-top: 3em ;
  padding: 0;
}

/* pour les items de evenements.html*/

div.event-item a {
  padding: none;
}

/* pour la page ressources.html */

div#actions {
  margin: 3em 0;
}

div#actions h4 {
  color: #fed136;
  font-size: 1.3em;
}

div#actions a {
  background-color: transparent;
  color: #fed136;
}

div#actions img {
  background-color: white;
  -webkit-border-radius: 100px;
  border-radius: 100px;

}

div.illustr {
  padding: 0.5em;
  background-color: whitesmoke;
  border: 1px #eee solid;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.img-fluid {
  border: 2px white solid;
  width: 100%;
}

p.img-legend {
  text-align: right;
  font-size: smaller;
  color: grey;
}

.back-button {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: right;
}

p#license img {
  width: 88px;
}

blockquote p, blockquote ol {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 5px #eee solid;
}

blockquote ol li {
  margin-left: 1rem;
}

#pagecontainer h3 {
  margin-bottom: 2rem;
}

.contain {
  object-fit: contain;
}

.w40 {
  max-width: 40%;
}

p.doi {
  font-size: smaller;
}
p.doi a#doi {
  color: darkblue;
}

div#archives, div#coming {
  margin-top: 1em;
  padding-top: 2em;
}

div#archives h2, div#coming h2 {
  margin-bottom: 2em;
}

.page-section h3.subsub {
  font-size: x-large;
  margin-bottom: 2em;
}

div.endbutton {
  margin-top: 2em;
}

div.footnotes {
  border-top: solid lightgrey 2px;
  padding-top: 2em;
  margin-top: 2em;
}

div.minutes {
  background-color: whitesmoke;
  border: solid 1px black;
  padding: 2em;
  font-family: ubuntu;
  max-height: 600px;
  overflow-y: scroll;
}

div.minutes h1, div.minutes h2, div.minutes h3 {
  font-weight: 400;
}

table#calendarje  {
  margin-bottom: 2em;
}
table#calendarje tr {
  border-bottom: 1px solid black;
}
table#calendarje td {
  padding: 0.5em 1em;
}

nav#TOC ul {
  padding-left: 0;
  margin: 2em 0;
}

nav#TOC ul li {
  display: inline-flex;
  font-weight: 500;
  margin-left: 0.2em;
}

nav#TOC ul li a {
  font-weight: 600;
  padding: 0.2em 0.7em;
}
