// Styling for the tag
 .tag {
    display: inline;
    font-weight: 300;
    font-size: smaller;

    li:before {
      content: '';
    }

    li {
      display: inline;
      margin: 0;

      > a {
        margin: 3px 3px 3px 0;
        padding: .5px 4px;
        color: $gray-100;
        background-color: $gray-900;
        border-radius: 3px;
      }
    }
  }
