---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container" id="pagecontainer">

<div class="lead-text">
  <p class="lead-text">{{ page.lead_text }}</p>
</div>

{{ content }}

{% if page.infos %}
<div class="infos">
  <p>Infos pratiques : {{ page.infos.date }} | {{ page.infos.lieu }}</p>
</div>
{% endif %}

</div>

    <!-- <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">


                    {{ content }}
                </div>
            </div>
        </div>
    </article> -->
