---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container" id="pagecontainer">

{% if page.lead_text %}
<div class="lead-text">
  <p class="lead-text">{{ page.lead_text }}</p>
</div>
{% endif %}

<div class="container evenement">
<div class="row">
    <div class="col">
      <p class="type">{{ page.type }}</p>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
      {% endif %}
      {% if page.nakala %}
        <p class="doi"><a id="doi" href="https://doi.org/{{ page.nakala.doi}}">DOI:{{ page.nakala.doi}}</a></p>
      {% endif %}
      {% if page.infos %}
      <h4 class="infos">
        {% assign d = page.infos.date | date: "%-d" %}
        {% assign m = page.infos.date | date: "%-m" %}
        {% case d %}
          {% when '1' %}1er
          {% else %}{{ d }}
        {% endcase %}
        {% case m %}
          {% when '1' %}jan.
          {% when '2' %}fév.
          {% when '3' %}mars
          {% when '4' %}avr.
          {% when '5' %}mai
          {% when '6' %}juin
          {% when '7' %}juil.
          {% when '8' %}août
          {% when '9' %}sept.
          {% when '10' %}oct.
          {% when '11' %}nov.
          {% when '12' %}déc.
        {% endcase %}
        {{ page.infos.date | date: "%Y" }} · {{ page.infos.horaire}} ·
       {% if page.infos.lieu %}{{ page.infos.lieu }}{% endif %}
      </h4>
      {% if page.infos.online %}
      <h4 class="infos">
       <a href="{{ site.data.sitetext.urls.videoconf }}">en ligne <i class="fas fa-play-circle"></i></a>
      </h4>
      {% endif %}

      {% endif %}

      <div class="tag">
          <ul>
            {% for tag in page.tags %}
            <li>
              <a href="{{ site.url }}{{ site.baseurl }}/thematiques#{{ tag }}">
                <span>{{ tag }}</span>
              </a>
            </li>
            {% unless forloop.last %}{% endunless %}
            {% endfor %}
          </ul>
      </div>
    </div>
    <div class="col-md-auto contain w40">
      <img class="img-fluid" src="{{ page.image }}" alt="{{ page.alt }}"/>
      {% if page.alt %}<p class="img-legend">{{ page.alt }}</p>{% endif %}
    </div>
  </div>
</div>

{{ content }}


{% if page.nakala %}
{% include nakala.html %}
{% endif %}

{% if page.notes %}
{% include minutes.html %}
{% endif %}


<div class="back-button">
  <a class="btn btn-primary btn text-uppercase" href="/evenements.html">Retour aux événements</a>
</div>

</div>
