<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top">

      {{ content }}

	  {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


	  <!-- Bootstrap core JavaScript -->
	  <script src="/assets/js/jquery.min.js"></script>
	  <script src="/assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="/assets/js/jquery.easing.min.js"></script>

	  <!-- Contact form JavaScript -->
	  <script src="/assets/js/jqBootstrapValidation.js"></script>
	  <!-- <script src="/assets/js/contact_me.js"></script> -->

	  <!-- Custom scripts for this template -->
	  <script src="/assets/js/agency.min.js"></script>

  </body>
</html>
