---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}
{% if page.background == "darker" %}
<script>
document.getElementById("page-top").className="bg-darker";
</script>
{% endif %}

<div class="container" id="pagecontainer">

{% if page.title %}
<div class="page-header">
<h1>{{ page.title | markdownify }}</h1>
{% if page.subtitle %}
<h2>{{ page.subtitle | markdownify }}</h2>
{% endif %}
</div>
{% endif %}
{{ content }}
</div>
