// Font Mixins
@mixin serif-font {
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@mixin script-font {
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@mixin body-font {
  font-family: /*'Roboto Slab',*/ -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@mixin heading-font {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

// Vendor
// @import "vendor/rfs";

// Deprecate
// @import "mixins/deprecate";

// Helpers
// @import "mixins/breakpoints";
// @import "mixins/image";
// @import "mixins/resize";
// @import "mixins/visually-hidden";
// @import "mixins/reset-text";
// @import "mixins/text-truncate";

// Utilities
// @import "mixins/utilities";

// Components
// @import "mixins/alert";
// @import "mixins/buttons";
// @import "mixins/caret";
// @import "mixins/pagination";
// @import "mixins/lists";
// @import "mixins/list-group";
// @import "mixins/forms";
// @import "mixins/table-variants";

// Skins
@import "mixins/border-radius";
// @import "mixins/box-shadow";
// @import "mixins/gradients";
@import "mixins/transition";

// Layout
// @import "mixins/clearfix";
// @import "mixins/container";
// @import "mixins/grid";
